h1 {
  color: red ;
  text-align: center;
  font-family: Arial;

}

body {
  background-color: lightgreen ;
  margin-top: 50px;
  margin-bottom: 100px;
}





ul{
  font-family: Verdana;
  font-size: 30px;

}

p{
  color: black;
  font-size: 27px;
  font-family: Verdana:
}
